body{
    background-image: url("http://i.stack.imgur.com/jGlzr.png");

}

.navbar-default{
    background:rgba(255,255,255,0.2);

}

.jumbotron{
    background:transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
}


.navbar-default{
    border-radius: 7px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #555;
}

.btn-success {
    color: #fff;
    background-color: #253c87;
    border-color: #253c87;
}

.form-group{
    text-align: center;
}

.col-lg-10 {
    width: 100%;
}

.footer{
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.velkomst{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #555;
}

.table{
    position: relative;
    bottom: 0px;
}
















